<main>
    <h1 class="text-center">All Orders</h1>
    <hr class="bg-secondary half-width" />
    <div class="container">
        <div class="row">
            <table class="table bg-light table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{{orders}}}
                </tbody>
            </table>
        </div>
    </div>
</main>

