<main>
    <div class="container">
        <h1 class="display-3 text-center">{{{title}}}</h1>
        <div class="row">
            <div class="col-6">
                <br />
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{{tubeId}}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-6">
                <br />
                <p class="text-info text-center">{{{author}}}</p>
                <p class="text-info text-center">{{{views}}} Views</p>
                <p class="text-center">{{{description}}}</p>
            </div>
        </div>
    </div>
</main>
<br />